<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* Full-page background image */
        body {
            margin: 0;
            padding: 0;
            background-image: url('static/win.png'); /* Replace with your image URL */
            background-size: 100% 100%; /* Ensures the image covers the entire page */
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh; /* Set body height to viewport height */
        }
    </style>
</head>
<body>
</body>
</html>
